# 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.preprocessing import StandardScaler

# 02. Import Data

In [2]:
path = r'C:\Users\esteb\OneDrive\Desktop\2025_Machine Learning'

In [3]:
df = pd.read_csv(os.path.join(path, '02_Data', 'Original Data', 'Weather-prediction-dataset-processed.csv'))

# 03. Data Summary

In [4]:
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [5]:
# Min and max dates
min_date = df['DATE'].min()
max_date = df['DATE'].max()

print("Min date:", min_date)
print("Max date:", max_date)

Min date: 19600101
Max date: 20221031

In [5]:
df.reset_index(inplace=True)
df.rename(columns={'index':'id'}, inplace=True)
df.head()

,id,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22950 entries, 0 to 22949
Columns: 171 entries, id to VALENTIA_temp_max
dtypes: float64(145), int64(26)
memory usage: 29.9 MB

In [7]:
pd.set_option('display.max_info_columns', 200)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22950 entries, 0 to 22949
Data columns (total 171 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    id                           22950 non-null  int64
 1    DATE                         22950 non-null  int64
 2    MONTH                        22950 non-null  int64
 3    BASEL_cloud_cover            22950 non-null  int64
 4    BASEL_wind_speed             22950 non-null  float64
 5    BASEL_humidity               22950 non-null  float64
 6    BASEL_pressure               22950 non-null  float64
 7    BASEL_global_radiation       22950 non-null  float64
 8    BASEL_precipitation          22950 non-null  float64
 9    BASEL_snow_depth             22950 non-null  int64
 10   BASEL_sunshine               22950 non-null  float64
 11   BASEL_temp_mean              22950 non-null  float64
 12   BASEL_temp_min               22950 non-null  float64
 13   BASEL_temp_max               22950 non-null  float64
 14   BELGRADE_cloud_cover         22950 non-null  int64
 15   BELGRADE_humidity            22950 non-null  float64
 16   BELGRADE_pressure            22950 non-null  float64
 17   BELGRADE_global_radiation    22950 non-null  float64
 18   BELGRADE_precipitation       22950 non-null  float64
 19   BELGRADE_sunshine            22950 non-null  float64
 20   BELGRADE_temp_mean           22950 non-null  float64
 21   BELGRADE_temp_min            22950 non-null  float64
 22   BELGRADE_temp_max            22950 non-null  float64
 23   BUDAPEST_cloud_cover         22950 non-null  int64
 24   BUDAPEST_humidity            22950 non-null  float64
 25   BUDAPEST_pressure            22950 non-null  float64
 26   BUDAPEST_global_radiation    22950 non-null  float64
 27   BUDAPEST_precipitation       22950 non-null  float64
 28   BUDAPEST_sunshine            22950 non-null  float64
 29   BUDAPEST_temp_mean           22950 non-null  float64
 30   BUDAPEST_temp_min            22950 non-null  float64
 31   BUDAPEST_temp_max            22950 non-null  float64
 32   DEBILT_cloud_cover           22950 non-null  int64
 33   DEBILT_wind_speed            22950 non-null  float64
 34   DEBILT_humidity              22950 non-null  float64
 35   DEBILT_pressure              22950 non-null  float64
 36   DEBILT_global_radiation      22950 non-null  float64
 37   DEBILT_precipitation         22950 non-null  float64
 38   DEBILT_sunshine              22950 non-null  float64
 39   DEBILT_temp_mean             22950 non-null  float64
 40   DEBILT_temp_min              22950 non-null  float64
 41   DEBILT_temp_max              22950 non-null  float64
 42   DUSSELDORF_cloud_cover       22950 non-null  int64
 43   DUSSELDORF_wind_speed        22950 non-null  float64
 44   DUSSELDORF_humidity          22950 non-null  float64
 45   DUSSELDORF_pressure          22950 non-null  float64
 46   DUSSELDORF_global_radiation  22950 non-null  float64
 47   DUSSELDORF_precipitation     22950 non-null  float64
 48   DUSSELDORF_snow_depth        22950 non-null  int64
 49   DUSSELDORF_sunshine          22950 non-null  float64
 50   DUSSELDORF_temp_mean         22950 non-null  float64
 51   DUSSELDORF_temp_min          22950 non-null  float64
 52   DUSSELDORF_temp_max          22950 non-null  float64
 53   GDANSK_cloud_cover           22950 non-null  int64
 54   GDANSK_humidity              22950 non-null  float64
 55   GDANSK_precipitation         22950 non-null  float64
 56   GDANSK_snow_depth            22950 non-null  int64
 57   GDANSK_temp_mean             22950 non-null  float64
 58   GDANSK_temp_min              22950 non-null  float64
 59   GDANSK_temp_max              22950 non-null  float64
 60   HEATHROW_cloud_cover         22950 non-null  int64
 61   HEATHROW_humidity            22950 non-null  float64
 62   HEATHROW_pressure            22950 non-null  float64
 63   HEATHROW_global_radiation    22950 non-null  float64
 64   HEATHROW_precipitation       22950 non-null  float64
 65   HEATHROW_snow_depth          22950 non-null  int64
 66   HEATHROW_sunshine            22950 non-null  float64
 67   HEATHROW_temp_mean           22950 non-null  float64
 68   HEATHROW_temp_min            22950 non-null  float64
 69   HEATHROW_temp_max            22950 non-null  float64
 70   KASSEL_wind_speed            22950 non-null  float64
 71   KASSEL_humidity              22950 non-null  float64
 72   KASSEL_pressure              22950 non-null  float64
 73   KASSEL_global_radiation      22950 non-null  float64
 74   KASSEL_precipitation         22950 non-null  float64
 75   KASSEL_sunshine              22950 non-null  float64
 76   KASSEL_temp_mean             22950 non-null  float64
 77   KASSEL_temp_min              22950 non-null  float64
 78   KASSEL_temp_max              22950 non-null  float64
 79   LJUBLJANA_cloud_cover        22950 non-null  int64
 80   LJUBLJANA_wind_speed         22950 non-null  float64
 81   LJUBLJANA_humidity           22950 non-null  float64
 82   LJUBLJANA_pressure           22950 non-null  float64
 83   LJUBLJANA_global_radiation   22950 non-null  float64
 84   LJUBLJANA_precipitation      22950 non-null  float64
 85   LJUBLJANA_sunshine           22950 non-null  float64
 86   LJUBLJANA_temp_mean          22950 non-null  float64
 87   LJUBLJANA_temp_min           22950 non-null  float64
 88   LJUBLJANA_temp_max           22950 non-null  float64
 89   MAASTRICHT_cloud_cover       22950 non-null  int64
 90   MAASTRICHT_wind_speed        22950 non-null  float64
 91   MAASTRICHT_humidity          22950 non-null  float64
 92   MAASTRICHT_pressure          22950 non-null  float64
 93   MAASTRICHT_global_radiation  22950 non-null  float64
 94   MAASTRICHT_precipitation     22950 non-null  float64
 95   MAASTRICHT_sunshine          22950 non-null  float64
 96   MAASTRICHT_temp_mean         22950 non-null  float64
 97   MAASTRICHT_temp_min          22950 non-null  float64
 98   MAASTRICHT_temp_max          22950 non-null  float64
 99   MADRID_cloud_cover           22950 non-null  int64
 100  MADRID_wind_speed            22950 non-null  float64
 101  MADRID_humidity              22950 non-null  float64
 102  MADRID_pressure              22950 non-null  float64
 103  MADRID_global_radiation      22950 non-null  float64
 104  MADRID_precipitation         22950 non-null  float64
 105  MADRID_sunshine              22950 non-null  float64
 106  MADRID_temp_mean             22950 non-null  float64
 107  MADRID_temp_min              22950 non-null  float64
 108  MADRID_temp_max              22950 non-null  float64
 109  MUNCHENB_cloud_cover         22950 non-null  int64
 110  MUNCHENB_humidity            22950 non-null  float64
 111  MUNCHENB_global_radiation    22950 non-null  float64
 112  MUNCHENB_precipitation       22950 non-null  float64
 113  MUNCHENB_snow_depth          22950 non-null  int64
 114  MUNCHENB_sunshine            22950 non-null  float64
 115  MUNCHENB_temp_mean           22950 non-null  float64
 116  MUNCHENB_temp_min            22950 non-null  float64
 117  MUNCHENB_temp_max            22950 non-null  float64
 118  OSLO_cloud_cover             22950 non-null  int64
 119  OSLO_wind_speed              22950 non-null  float64
 120  OSLO_humidity                22950 non-null  float64
 121  OSLO_pressure                22950 non-null  float64
 122  OSLO_global_radiation        22950 non-null  float64
 123  OSLO_precipitation           22950 non-null  float64
 124  OSLO_snow_depth              22950 non-null  int64
 125  OSLO_sunshine                22950 non-null  float64
 126  OSLO_temp_mean               22950 non-null  float64
 127  OSLO_temp_min                22950 non-null  float64
 128  OSLO_temp_max                22950 non-null  float64
 129  ROMA_cloud_cover             22950 non-null  int64
 130  ROMA_wind_speed              22950 non-null  float64
 131  ROMA_humidity                22950 non-null  float64
 132  ROMA_pressure                22950 non-null  float64
 133  ROMA_sunshine                22950 non-null  float64
 134  ROMA_temp_mean               22950 non-null  float64
 135  SONNBLICK_cloud_cover        22950 non-null  int64
 136  SONNBLICK_wind_speed         22950 non-null  float64
 137  SONNBLICK_humidity           22950 non-null  float64
 138  SONNBLICK_pressure           22950 non-null  float64
 139  SONNBLICK_global_radiation   22950 non-null  float64
 140  SONNBLICK_precipitation      22950 non-null  float64
 141  SONNBLICK_sunshine           22950 non-null  float64
 142  SONNBLICK_temp_mean          22950 non-null  float64
 143  SONNBLICK_temp_min           22950 non-null  float64
 144  SONNBLICK_temp_max           22950 non-null  float64
 145  STOCKHOLM_cloud_cover        22950 non-null  int64
 146  STOCKHOLM_pressure           22950 non-null  float64
 147  STOCKHOLM_global_radiation   22950 non-null  float64
 148  STOCKHOLM_precipitation      22950 non-null  float64
 149  STOCKHOLM_sunshine           22950 non-null  float64
 150  STOCKHOLM_temp_mean          22950 non-null  float64
 151  STOCKHOLM_temp_min           22950 non-null  float64
 152  STOCKHOLM_temp_max           22950 non-null  float64
 153  TOURS_wind_speed             22950 non-null  float64
 154  TOURS_humidity               22950 non-null  float64
 155  TOURS_pressure               22950 non-null  float64
 156  TOURS_global_radiation       22950 non-null  float64
 157  TOURS_precipitation          22950 non-null  float64
 158  TOURS_temp_mean              22950 non-null  float64
 159  TOURS_temp_min               22950 non-null  float64
 160  TOURS_temp_max               22950 non-null  float64
 161  VALENTIA_cloud_cover         22950 non-null  int64
 162  VALENTIA_humidity            22950 non-null  float64
 163  VALENTIA_pressure            22950 non-null  float64
 164  VALENTIA_global_radiation    22950 non-null  float64
 165  VALENTIA_precipitation       22950 non-null  float64
 166  VALENTIA_snow_depth          22950 non-null  int64
 167  VALENTIA_sunshine            22950 non-null  float64
 168  VALENTIA_temp_mean           22950 non-null  float64
 169  VALENTIA_temp_min            22950 non-null  float64
 170  VALENTIA_temp_max            22950 non-null  float64
dtypes: float64(145), int64(26)
memory usage: 29.9 MB

In [8]:
pd.reset_option('display.max_info_columns')

In [9]:
# Checking for missing values
df.isnull().sum()

id                     0
DATE                   0
MONTH                  0
BASEL_cloud_cover      0
BASEL_wind_speed       0
                      ..
VALENTIA_snow_depth    0
VALENTIA_sunshine      0
VALENTIA_temp_mean     0
VALENTIA_temp_min      0
VALENTIA_temp_max      0
Length: 171, dtype: int64

In [10]:
#Eliminate potential records that have NaN values
df.dropna(inplace=True)

In [11]:
df.shape

(22950, 171)

# 04. Scaling

In [12]:
# Create scaler object using StandardScaler from sklearn.preprocessing
# StandardScaler assumes data is normally distributed and scales with a distribution
# Around 0 and standard deviation of 1. Scaling happens independently with each variable.

scaler = StandardScaler()

In [13]:
# Create new df with scaled data

df_scaled = pd.DataFrame(scaler.fit_transform(df))
df_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,161,162,163,164,165,166,167,168,169,170
0,-1.731975,-1.707663,-1.599964,0.660514,-0.02793,0.826097,-0.001949,-1.101066,-0.265148,-0.179228,...,-0.443701,0.761754,-1.299744,-0.806427,-0.088407,-0.024706,0.372147,-0.668215,-0.519743,-0.752237
1,-1.731824,-1.707657,-1.599964,0.244897,-0.02793,0.735760,-0.001949,-1.058108,1.658760,-0.179228,...,0.783085,1.183580,-1.262455,-1.042055,0.503361,-0.024706,-0.829285,-0.548046,-0.629054,-0.407141
2,-1.731673,-1.707652,-1.599964,1.076130,-0.02793,1.277781,-0.001949,-1.251420,0.155707,-0.179228,...,0.783085,1.183580,-0.432779,-1.136306,-0.396127,-0.024706,-1.009500,-0.067372,0.054135,-0.177078
3,-1.731523,-1.707646,-1.599964,-1.001953,-0.02793,1.458455,-0.001949,-0.821838,-0.445514,-0.179228,...,0.783085,0.480538,0.387574,-1.183432,0.669056,-0.024706,-1.039536,-0.998679,-0.164486,-0.838511
4,-1.731372,-1.707641,-1.599964,0.244897,-0.02793,1.729466,-0.001949,-0.746661,-0.164944,-0.179228,...,-1.670486,-0.363113,1.729970,-0.794645,-0.490810,-0.024706,0.672505,-1.509396,-1.339569,-1.471186

In [14]:
# Compare df vs df_scaled
df.head()

,id,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

# 05. Export

In [15]:
# Export df 
df_scaled.to_pickle(os.path.join(path,'02_Data', 'Prepared Data', 'Weather-prediction-dataset-scaled.pkl'))

In [16]:
# Export df 
df_scaled.to_csv(os.path.join(path,'02_Data', 'Prepared Data', 'Weather-prediction-dataset-scaled.csv'))